*{margin: 0;padding: 0;box-sizing: border-box;font-family: 'Avenir', Helvetica, Arial, sans-serif;font-size: 14px;outline: none;}
a{text-decoration: none;}
li{list-style: none;}
input{outline: none;}
html{background-color: white;}
body::-webkit-scrollbar{width: 10px;background-color: #f1f1ef;position: relative;}
body::-webkit-scrollbar-thumb{border-radius: 10px;background-color: #969689;}
.float-l{float: left;}
.float-r{float: right;}
.clear{clear: both;}
.tc-center{text-align: center;}

.el-submenu .el-menu-item{height: 30px;line-height: 30px;}
.el-submenu__title{height: 45px;line-height: 45px;}
.container-body{padding: 10px;}
.breadcrumb-div{padding: 0 10px 10px 10px;}
.page-container{min-height: calc(100vh - 70px);background-color: white;padding: 10px;position: relative;}
.page-container-body{position: relative;}
.tree-div{width: 300px;position: absolute;}
.tree-right-detail{width: 100%;padding-left: 310px;}
.card-div{width: 100%;border: 1px solid #e4e4e4;}
.card-div>p{line-height: 30px;padding-left: 10px;background-color: #E8F4FF;font-weight: bold;border-bottom: 1px solid #e4e4e4;}
.card-content{padding: 10px;}
.el-form-item{margin-bottom: 18px;}
.el-pagination{padding-top: 10px!important;}
.el-table .cell{line-height: 100%!important;}
.el-table td{padding: 4px 0!important;}
.el-table--enable-row-transition .el-table__body td{height: 39px!important;min-height: 39px!important;}
.el-table th{padding: 14px 0!important;background-color: #f5f7fa!important;}
.search-form-div .el-button{padding: 8px 15px;}
.search-form-div .el-form-item.el-form-item{margin-bottom: 10px;}
.page-div{margin-bottom: 10px;}
.page-title{font-size: 16px;color: #303133;padding-left: 10px;line-height: 32px;}
.page-div .page-operate-div .el-button{padding: 8px 15px;}















